*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
}

@import 'header';

@import 'caracteristicas';
@import 'fotos';
@import 'precios';
@import 'clientes';
@import 'reviews';

@import 'footer'; 

@import 'mediaqueries';